#header {
    position: relative;
    z-index: 999;
}

#header .hd_wrap {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1650px;
    width: 100%;

    padding: 16px 32px;
    background: #f9f9f9;
}

#header .hd_logo img {
    /* width: 100%; */
    height: 20px;
}

#header .hd_gnb {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#header .hd_gnb>ul {
    display: flex;
    gap: 40px;
}

#header .hd_gnb>ul>li>a {
    font-size: 18px;
    font-weight: 600;
}

#header .hd_gnb>ul>li>ul {
    display: none;
}

#header .hd_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* 검색창 */

#header .hd_search {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header .search_box input {
    background: rgba(233, 233, 233, 0.5);
    border-radius: 24px;
    outline: none;
    border: none;
    height: 32px;
    width: 160px;
    padding: 8px 0 8px 16px;
}

#header .search_box input::placeholder {
    opacity: 0.5;
}

#header .search_box input:focus::placeholder {
    opacity: 0;
}

#header .search_box form {
    position: relative;
}


#header .search_btn {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;

    align-items: center;
    justify-content: center;

    /* width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f5f5f5; */

}

#header .hd_icon {
    display: flex;
    align-items: center;

    gap: 20px;
}


#header .hd_icon a {
    position: relative;
    display: flex;
    gap: 8px;

}

#header .hd_icon a~a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 1px;
    height: 0.5em;
    background: #222;

    transform: translate(0, -50%);
}

#header .hd_icon span {
    font-size: 15px;
}

#header .hd_icon span:hover {
    color: #ddd;
}

#header .hd_icon a img {
    width: 100%;
    height: 15px;
}

/* 메인비주얼 */

.main_visual {
    position: relative;
    height: calc(100vh);
    background: url(../images/main_visual000.jpg)no-repeat center top/cover;
}


/* 스크롤 */
.main_visual .scroll {
    position: absolute;
    bottom: 80px;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, 0);
}

.main_visual .scroll span {
    display: block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
}

.main_visual .scroll span:nth-child(1) {
    animation: ar 1s 0.25s infinite;
}

.main_visual .scroll span:nth-child(2) {
    animation: ar 1s 0.5s infinite;
}

.main_visual .scroll span:nth-child(3) {
    animation: ar 1s 0.75s infinite;
}

@keyframes ar {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* 전시 */

.main_eh {}

.main_eh figure a img {
    width: 100%;
    height: 560px;
    object-fit: cover;
}

.main_eh .swiper-wrapper {
    transition-timing-function: linear;
}

.main_eh .main_eh_slide .itm {
    transform: scale(0.8);
    transition: 0.4s;
}

.main_eh .main_eh_slide .itm.swiper-slide-active {
    transform: scale(1);
}

.main_eh .main_eh_slide .itm .txt_wrap {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main_eh .main_eh_slide .itm .txt strong {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

.main_eh .main_eh_slide .itm .txt p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(2, 2, 2, 0.75);
}


.main_eh figure {
    position: relative;
    margin: 0;
}

.main_eh .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.main_eh figure:hover .img_overlay,
.main_eh figure:focus .img_overlay {
    opacity: 1;
    pointer-events: auto;
    /* hover 시 클릭 가능하게 하려면 auto로 변경 */
}

/* 소장품 */

.main_collection {
    background: #f9f9f9;
}



.main_collection .itm {
    display: flex;

}

.main_collection .itm01 {
    background: #81bcd3;
}

.main_collection .itm02 {
    background: #ad8a80;
}

.main_collection .itm03 {
    background: #ddd4cc;
}

.main_collection .itm04 {
    background: #c4bfe1;
}

.main_collection .left {
    flex: 1;
}

.main_collection .txt {
    position: relative;
    padding: 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main_collection .txt .top strong {
    font-size: 56px;
    font-weight: 500;
    color: #222;
}

.main_collection .txt .bottom {
    margin-left: 20px;
}

.main_collection .txt ul {
    list-style: disc;
}

.main_collection .txt .bottom li {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #222;
}

/* .txt .bottom p{
    margin-top: 4px;
    font-size: 20px;
    font-weight: 300;
    color: #222;
} */

.main_collection .txt .le_btn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-48px, -48px);

    padding: 20px 20px;
    background: #222;
    border-radius: 50%;
}

.main_collection .right {
    flex: 1;
}

.main_collection .right img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

/* 소장품 버튼 */
.main_collection_slide_wrap {
    position: relative;
}

.main_collection .arrows {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1650px;
    width: 100%;
}

.main_collection .arrows button {
    position: absolute;
}

.main_collection .arrows button img {
    width: 40px;
    height: 40px;
}

.main_collection .arrows .prev {
    left: 0;
}

.main_collection .arrows .next {
    right: 0;
}


/* 소식 */

.main_notice .notice_wrap {
    display: flex;
    gap: 40px;

}

.main_notice .left {
    position: relative;
    flex: 1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.main_notice .left a {
    display: block;

}

.main_notice .left a p {
    border-bottom: 1px solid #ddd;
    padding: 8px 0 8px 4px;
}

.main_notice .left li {
    padding: 16px 4px;


}

.main_notice .left li:hover {
    background: url(../images/trending_flat555.svg) no-repeat calc(100% - 40px) center;
}

.main_notice .left li~li {
    border-top: 1px solid #ddd;
}

.main_notice .left button {
    font-size: 16px;
    color: #555;


}

.main_notice .left button:hover {
    color: #222;

}

.main_notice .left button::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;

}


.main_notice .right {
    flex: 1;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.main_notice .right .notice_txt_wrap {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    height: 286px;
}

.main_notice .right strong {
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;

}

.main_notice .right p {
    margin-top: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 300;

}


/* tab menu 적용 */

.main_notice .right .itm {
    height: 0;
    overflow: hidden;
}

.main_notice .right .itm.on {
    height: auto;
}

/* footer */
#footer {
    background: #222;
    padding-top: 100px;
    padding-bottom: 60px;
}

#footer .top {
    display: flex;
    margin-bottom: 80px;
    color: #fff;
}

#footer .top .left {
    flex: 1;

}




#footer .top .left strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 32px;

    color: #f9f9f9;
}

#footer .top .left ul>li>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#footer .top .left ul>li>ul>li>a {
    font-size: 16px;
    font-weight: 300;
    color: #777;
}

#footer .top .left ul>li>a:hover {
    color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}


#footer .top .right {
    flex: 3;
}

#footer .top .right strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 32px;

    color: #f9f9f9;
}

#footer .top .right ul>li>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#footer .top .right ul>li>ul>li {
    font-size: 16px;
    font-weight: 300;
    color: #777;
}

#footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footer .bottom .left {
    display: flex;
    flex: 3;
    align-items: end;
    color: #777;
    gap: 100px;
}

#footer .bottom .blinfo {
    display: flex;
    font-size: 14px;
    gap: 30px;
    margin-left: 48px;
}

#footer .bottom .right {
    flex: 1;
    text-align: right;
}



#footer .bottom img {
    height: 160px;
}

#footer .bottom address {
    color: #777;
    font-size: 14px;
}